body {
    background-color: rgb(219, 209, 209);
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
}

header > * {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
}

header > #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 40px;
    font-weight: bold;
}

#background {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background > p {
    font-weight: bold;
    color: rgb(255, 236, 154);
    text-align: center;
    position: absolute;
    padding: 12px;
    font-size: clamp(20px, 10vw, 50px);
}

#background-img {
    object-fit: cover;
    object-position:top;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-bottom: solid 5px ;
    border-image: linear-gradient(to right, green, rgb(162, 240, 160), green);
    border-image-slice: 1;
}

#nigeria {
    background-color: rgb(255, 236, 154);
    padding: 5px;
    color: green;
}

#logo > span {
    color: rgb(151, 0, 0);
    font-size: clamp(15px, 5vw, 40px);
    padding: 5px;
}

header > nav {
    width: 70%;
}

nav > button {
    margin: 20px;
    padding: clamp(5px, 1vw, 15px);
    font-size: 10px;
    background-color: rgb(219, 209, 209);
    border: none;
    box-shadow: inset 1px 2px 5px 0.5px;
    transition: all ease-in-out 0.3s;
    color: rgb(78, 76, 76);
}

nav > button:hover {
    box-shadow: inset 2px 4px 7px 0.5px;
}

#content {
    padding-top: 100px;
}

#content > #homepage-content{
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

#content > #homepage-content > p {
    width: clamp(700px, 50vw, 500px);
    border-left: solid green;
    padding-left: 8px;
}

footer {
    bottom: 0;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

footer > p {
    bottom: 0;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > p > span {
    font-weight: bold;
}